{{>head }}
{{>navbar }}

<div class="row">

    <div class="col-8">
        <h1>Momo</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus est repellendus voluptates aperiam, sint necessitatibus facilis nobis enim sed sunt in at iusto. Nulla, corporis ea porro unde consequatur deleniti.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/momo.jpg" class="img-thumbnail">
    </div>

</div>

{{>footer }}